<p>Your order was successful!</p>
<p>Total: £<%= @order.total %></p>
<p>You can view your order <a href="/pizza-orders/order/<%= @order.id %>">here</a></p>
<p>Please call 1-800 to pay</p>
<p>Why not order another pizza from us <a href="/pizza-orders/new">here</a>?</p>
<p>... or click <a href="/pizza-orders">here</a> to see all orders!</p>
