<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizza-orders">All orders</a></li>
      <li><a href="/pizza-orders/new">New order</a></li>
    </ul>
  </nav>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
